include ../mixin.jade
ul.nav-social.nav-social-second.nav-social-circle.nav-social-left
  +social('#', 'Facebook', 'fa-facebook')
  +social('#', 'Twitter', 'fa-twitter')
  +social('#', 'Google', 'fa-google-plus')