include ../mixin.jade
ul.nav-social.nav-social-primary.nav-social-left
  +social-text('#', 'Facebook', 'fa-facebook')
  +social-text('#', 'Twitter', 'fa-twitter')
  +social-text('#', 'Google', 'fa-google-plus')