header.header.header-black
  .container
    .header-table
      .header-cell
        a.header-logo(href="#", title="Basement")
          img(src="assets/images/header/logo.png", alt="Basement", width="85", height="15")
        button.header-bars
          span.header-bars-inner
      nav.header-cell.header-cell-large
        include ../navigation/nav-menu-v1.jade
      .header-cell
        a.header-icon(href="#", title="#")
          i.fa.fa-search