include ../mixin.jade
ul.nav-menu.nav-menu-left
  +menu('#', 'Product', 'current-menu-item')
  +menu('#', 'About', '')
  +menu('#', 'Portfolio', '')
  +menu('#', 'Team', '')
  +menu('#', 'Contact', '')